$text-black: #000000;
$text-white: #fff;
$text-grey: #808080;
$text-accent: #4bcfa0;
$btn-default-bg: #fff;
$btn-hover-bg: #4bcfa0;
$btn-border-radius: 1.6rem;
$border: 1px solid;
$card-border-radius: 2.4rem;
$border-color: #e6e6e6;
